body{
    font-family: 'Montserrat', sans-serif;
    background-color: #272D2D;
}
div{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,p,ul{
    margin: 0;
    padding: 0;
}
.bar1{
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
}
.bar-1{
    height: 50px;
}
.bar-1 .logo-box{
    width: 43%;
    height: 50px;
    float: left;
}
.bar-1 .menu-box{
    width: 57%;
    height: 50px;
    float: left;
}
.bar-1 .menu-box ul{
    list-style-type: none;
    float: right;
    margin-top: 2px;
    margin-right: 40px;
}
.bar-1 .menu-box ul li{
    height: 50px;
    float: left;
}
.bar-1 .menu-box ul li a{
    font-size: 13px;
    text-decoration: none;
    display: block;
    color: white;
    padding: 3px;
    font-weight: 600;
    margin: 0 12px;
    margin-top: 12px;
}
.bar-1 .menu-box ul li a:hover{
    border-bottom: 3px solid #23CE6B ;
}
.bar-1 h1{
    font-size: 30px;
    margin-left: 60px;
    color: #23CE6B;
    line-height: 50px;
    transition: 0.5s;
}
.bar-1 .menu-icon{
    display: none;
    background-color: #23CE6B;
    color: white;
    float: right;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    border-radius: 5px;
    margin: 10px 50px;
    width: 60px;
    cursor: pointer;
    height: 30px;
    transition: 0.3s;
}
.bar-1 .menu-icon:hover{
    border: 2px solid #EDF5FC;
}
.bar1 .info-box{
    width: 1010px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}
.bar1 .info-box .information{
    width: 500px;
    height: 600px;
    transition: 0.3s;
}
.bar1 .info-box .information h1{
    width: 300px;
    height: 40px;
    line-height: 39px;
    font-weight: bolder;
    font-size: 17px;
    border-radius: 20px;
    text-align: center;
    word-spacing: 2px;
    background-color: white;
}
.info-box .information h2{
    font-size: 17px;
    text-align: center;
    width: 54px;
    color: white;
    border-bottom: 1px solid white;
    margin-top: 20px;
    margin-left: 38px;
}
.info-box .information h3{
    font-size: 85px;
    font-weight: bold;
    color: white;
    margin: 5px 39px;
    line-height: 1.1;
    margin-top: 8px;
}
.info-box .information h4{
    width: 200px;
    height: 30px;
    margin-left: 33px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    color: white;
    border-radius: 20px;
    background-color: #202124;
}
.info-box .information h5{
    width: 430px;
    font-size: 15px;
    color: white;
    margin-left: 35px;
    margin-top: 25px;
    line-height: 1.5;
}
.info-box .information .get-started{
    width: 225px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    float: left;
    text-align: center;
    line-height: 50px;
    background-color: #23CE6B;
    margin-top: 10px;
    margin-left: 17px;
}
.info-box .information .get-started:hover{
    cursor: pointer;
    background-color: #EDF5FC;
    color: #23CE6B;
}
.info-box .information .download{
    width: 225px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    float: left;
    text-align: center;
    line-height: 44px;
    border: 3px solid #EDF5FC;
    margin-top: 10px;
    margin-left: 20px;
}
.info-box .information .download:hover{
    cursor: pointer;
    border: 4px solid #23CE6B;
}
.bar1 .info-box .my-img{
    width: 500px;
    height: 600px;
    float: right;
    transition: 0.3s;
    position: relative;
}
.info-box .my-img .box-img{
    width: 380px;
    height: 500px;
    float: left;
    margin-left: 60px;
    border-radius: 0 50px 0 50px;
    border: 2px solid white;
}
.info-box .my-img .box-img .image{
    width: 370px;
    height: 490px;
    float: left;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 0 46px 0 46px;
    background-color: #EDF5FC;
    position: relative;
}
.box-img .image img{
    height: 580px;
    margin-left: -105px;
    margin-top: -50px;
}

.contain-sub-menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 2;
    display: none;
}
.sub-menu{
    width: 100%;
    float: left;
}
.sub-menu ul{
    list-style-type: none;
    padding: 10px;
}
.sub-menu ul li{
    float: left;
    width: 100%;
    height: 50px;
    margin: 1.5px 0;
    background-color: #4d4848;
    color: #EDF5FC;
    border-radius: 5px;
}
.sub-menu ul li a{
    text-decoration: none;
    padding: 15px 60% 15px 0;
    font-size: 14px;
    font-weight: bolder;
    line-height: 50px;
    margin-left: 20px;
    background-color: #272D2D;
    color: #EDF5FC;
}
.sub-menu ul li i{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 50px;
    float: right;
    margin-right: 20px;
}
.sub-menu ul li:hover{
    cursor: pointer;
    background-color: #23CE6B;
}
.bar-sub-menu{
    width: 104.2%;
    height: 50px;
    background-color: #23CE6B;
    border-radius: 0px 0px 10px 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 1px;
}
.bar-sub-menu h1{
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: bold;
}
.my-img .status{
    position: absolute;
    background-color: #23CE6B;
    color: white;
    font-size: 25px;
    padding: 10px 30px;
    top:5%;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 20px 0 20px 0;
}
.image .age{
    position: absolute;
    background-color: #23CE6B;
    color: white;
    font-size: 20px;
    top: 0;
    right: 0;
    width: 125px;
    height: 100px;
    border-radius: 0 46px 0 46px;
}
.image .age h1{
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: -1px;
}
.image .age h2{
    font-size: 16px;
    font-weight: bold;
    margin-left: 72px;
    margin-top: -27px;
}
.image .age h3{
    margin-left: 46px;
    font-weight: bold;
    font-size: 40px;
    margin-top: -1px;
}
.bar2{
    position: relative;
    width: 100%;
    float: left;
    float: left;
    background-color: #272D2D;
}
.bar2 .skills{
    width: 142px;
    height: 55px;
    margin: auto;
    text-align: center;
    font-size: 40px;
    color: white;
    /* border-bottom: 3px solid white; */
}
.skills h1{
    font-size: 40px;
    font-weight: bolder;
}
.bar2 .skills-contain{
    width: 726px;
    height:auto;
    margin: auto;
    margin-top: 20px;
    transition: 0.5s;
    background-color: #272D2D;
}
.bar2 .skills-contain h1{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: white;
    margin-bottom: 30px;
}
.bar2 .skills-contain .skill-box{
    width: 222px;
    height: 248px;
    margin: 20px 10px;
    float: left;
    border-radius: 30px;
    background: linear-gradient(135deg, orange, cyan, #23CE6B);

}
.bar2 .skills-contain .skill-box#box-4{
    margin: 10px 10px 10px 130px;
}
.bar2 .skills-contain .skill-box#box-5{
    margin: 10px 10px 10px 10px;
}
.bar2 .skills-contain .skill-box .boxs{
    width: 220px;
    height: 246px;
    float: left;
    margin: 1px;
    border-radius: 28px;
    background-color: #272D2D;
}
.bar2 .skills-contain .skill-box .boxs:hover{
    background-color: #16293F;
}
.skill-box .boxs img{
    width: 150px;
    margin-top: 20px;
    margin-left: 35px;
    border-radius: 10px;
}
.skill-box .boxs h1{
    font-size: 22px;
    margin-top: 12px;
    text-align: center;
}
.skill-box .boxs h2{
    font-size: 15px;
    color: #0AFBF5;
    margin-top: -24px;
    text-align: center;
}
.bar3{
    width: 100%;
    float: left;
    float: left;
    background-color: #272D2D;
}
.bar3 .about-me{
    width: 250px;
    height: 55px;
    margin: auto;
    text-align: center;
    /* border-bottom: 3px solid white; */
}
.bar3 .about-me h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.bar3 .about-contain{
    width: 1020px;
    height: 570px;
    margin: auto;
    margin-top: 50px;
    transition: 0.3s;
}
.about-contain .mybox-img{
    width: 500px;
    height: 550px;
    margin: 5px;
    float: left;
}
.about-contain .mybox-img .boximg{
    width: 420px;
    height: 550px;
    margin-left: 40px;
    padding: 3px;
    border-radius: 0 0 50px 50px;
    border: 2px solid white;
}
.about-contain .mybox-img .boximg .imgbox{
    position: relative;
    width: 410px;
    height: 540px;
    border-radius: 0 0 46px 46px;
    background-color: rgb(255, 255, 255);
}
.mybox-img .boximg .imgbox img{
    width: 600px;
    margin-left: -95px;
    margin-top: -27px;
}
.mybox-img .boximg .imgbox .anintern{
    position: absolute;
    top: 5%;
    left: -12%;
    width: 200px;
    height: 65px;
    line-height: 63px;
    text-align: center;
    font-size: 28px;
    color: white;
    font-weight: bold;
    border-radius: 20px 0 20px 0;
    border: 2px solid white;
    background-color: #23CE6B;
}
.mybox-img .boximg .imgbox .my-age{
    position: absolute;
    top: 0;
    right: 0%;
    width: 150px;
    height: 110px;
    border-radius: 0 0 0 30px;
    background-color: #23CE6B;
}
.mybox-img .boximg .imgbox .my-age h1{
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin-top: -2px;
    margin-left: 10px;
}
.mybox-img .boximg .imgbox .my-age h2{
    color: white;
    font-size: 20px;
    margin-left: 85px;
    margin-top: -33.5px;
    font-weight: bold;
}
.mybox-img .boximg .imgbox .my-age h3{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-top: -5px;
    margin-left: 53px;
}
.about-contain .myinfo-box{
    width: 500px;
    height: 550px;
    margin: 5px;
    margin-left: -10px;
    float: left;
}
.about-contain .myinfo-box h3{
    font-size: 25px;
    font-weight: bold;
    color: #EDF5FC;
    margin-left: 10px;
}
.about-contain .myinfo-box h4{
    font-size: 17px;
    width: 90%;
    color: #EDF5FC;
    line-height: 1.4;
    margin-left: 25px;
    margin-top: 3px;
}
.about-contain .myinfo-box .location{
    width: 90%;
    height: 160px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #23CE6B;
    background-image: url('../image/my-location.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}
.about-contain .myinfo-box .location:hover{
    scale: 1.04;
}
.about-contain .myinfo-box .btn{
    width: 49px;
    height: 49px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 20px;
    transition: 0.1s;
    background-color: #23CE6B;
}
.about-contain .myinfo-box .btn i{
    font-size: 28px;
    line-height: 36px;
    margin-left: -2px;
    color: white;
}
.about-contain .myinfo-box .btn:hover{
    margin-top: 0;
    background-color: #EDF5FC;
}
.about-contain .myinfo-box .btn:hover i{
    color: #23CE6B;
}
.about-contain .myinfo-box .btn1{
    margin-left: 25px;
}
.popup-info{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
    display: none;
}
.popup-info .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background-color: #EDF5FC;
    border: 2px solid #212529;
    display: none;
}
.popup-info .popup2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 270px;
    height: 90px;
    border-radius: 20px;
    background-color: #EDF5FC;
    border: 2px solid #212529;
    display: none;
}
.popup-info .popup .close-btn{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    float: right;
}
.popup-info .popup2 .close-btn{
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    float: right;
}
.popup-info .popup .close-btn i{
    font-size: 20px;
    margin-left: 12px;
    margin-top: 10px;
    cursor: pointer;
}
.popup-info .popup2 .close-btn i{
    font-size: 20px;
    margin-left: 12px;
    margin-top: 10px;
    cursor: pointer;
}
.popup-info .popup h1{
    font-size: 19px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
.popup-info .popup h2{
    font-size: 25px;
    margin-top: 4px;
    text-align: center;
}
.popup-info .popup2 h1{
    font-size: 25px;
    margin-top: 13px;
    font-weight: bold;
    text-align: center;
}
.popup-info .popup2 h2{
    font-size: 16px;
    margin-top: 4px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
.bar3 .education{
    width: 930px;
    height: 200px;
    border-radius: 30px;
    margin: auto;
    margin-bottom: 35px;
    transition: 0.3s;
}
.education .ebox1{
    width: 463px;
    height: 198px;
    float: left;
    margin-bottom: 20px;
    border-radius: 20px;
}
.education h1{
    font-size: 18px;
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: -1px;
    color: white;
    font-weight: bold;
}
.education h2{
    font-size: 16px;
    margin-top: 5px;
    margin-left: 20px;
    color: white;
}
.education h3{
    margin-top: 5px;
    font-size: 14px;
    margin-left: 30px;
    color: rgb(138, 138, 138);
}
.education .ebox2{
    width: 463px;
    height: 198px;
    float: left;
    border-radius: 30px;
}
.bar4{
    width: 100%;
    float: left;
    background-color: #272D2D;
}
.bar4 .project{
    position: relative;
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 20px;
}
.bar4 h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    color: white;
    font-size: 40px;
    float: left;
    font-weight: bold;
}
.bar4 .project .tesla{
    transition: 0.2s;
    position: relative;
    width: 450px;
    height: 300px;
    float: left;
    margin: 0 25px;
    margin-top: 15px;
    border-radius: 25px;
    border: 1px solid #44474E;
}
.bar4 .project .tesla.thefirst{
    margin-top: 90px;
}
.bar4 .project .lgc.thefirst{
    margin-top: 90px;
}
.bar4 .project .tesla:hover{
    scale: 1.05;
    background-color: #212733;
    cursor: pointer;
}
.bar4 .project .lgc:hover{
    scale: 1.05;
    background-color: #212733;
    cursor: pointer;
}
.bar4 .project .lgc{
    transition: 0.2s;
    position: relative;
    width: 450px;
    height: 300px;
    float: left;
    margin: 0 25px;
    margin-top: 15px;
    border-radius: 25px;
    border: 1px solid #44474E;
}
.bar4 .project .tesla .tesla-img{
    width: 428px;
    height: 220px;
    margin: 10px;
    border-radius: 19px;
    background-color: #EDF5FC;
}
.bar4 .project .tesla .tesla-img img#ai-farm{
    position: relative;
    width: 70px;
    height: 70px;
    top: 10px;
    left: 10px;
}
.bar4 .project .tesla h1{
    font-size: 20px;
    position: absolute;
    transform: translate(0,0);
    color: #ABC7FF;
    top: 240px;
    left: 12px;
}
.bar4 .project .tesla h2{
    font-size: 15px;
    position: absolute;
    color: #FFF7E4;
    top: 269px;
    left: 12px;
}
.bar4 .project .lgc .lgc-img{
    width: 428px;
    height: 220px;
    margin: 10px;
    border-radius: 19px;
    background-color: #EDF5FC;
}
.bar4 .project .lgc .lgc-img img#ai-farm{
    position: relative;
    width: 70px;
    height: 70px;
    top: 10px;
    left: 10px;
}
.bar4 .project .lgc h1{
    font-size: 20px;
    position: absolute;
    transform: translate(0,0);
    color: #ABC7FF;
    top: 240px;
    left: 12px;
}
.bar4 .project .lgc h2{
    font-size: 15px;
    position: absolute;
    color: #FFF7E4;
    top: 269px;
    left: 12px;
}
.bg-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.filter-blur{
    width: 100%;
    height: 100%;
    float: left;
    backdrop-filter: blur(5px);
}
.bar5{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    float: left;
    text-align: center;
    border-top: 1px solid #44474E;
}
.bar5 h1{
    font-size: 12px;
    line-height: 60px;
    color: #44474E;
}

/*Extra large devices (large destops, 1200px and up)*/
@media (min-width: 1200px) {
    .bar1 .info-box .information{
        float: left;
    }
    .contain-sub-menu{
        display: none;
    }
}
/*Large devices (destops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .bar1 .info-box{
        width: 800px;
    }
    .bar1 .info-box .information{
        width: 500px;
        margin: auto;
    }
    .bar1 .info-box .my-img{
        display: none;
    }
    .bar1 .info-box .information h1{
        width: 300px;
        font-size: 18px;
    }
    .info-box .information h2{
        font-size: 18px;
        width: 55px;
    }
    .info-box .information h3{
        font-size: 85px;
    }
    .info-box .information h4{
        width: 200px;
    }
    .info-box .information h5{
        width: 430px;
    }
    .info-box .information .get-started{
        width: 220px;
        margin-left: 20px;
    }
    .info-box .information .download{
        width: 220px;
        margin-left: 20px;
    }
    .contain-sub-menu{
        display: none;
    }
    .bar2 .skills-contain{
        width: 484px;
        height: auto;
    }
    .bar2 .skills-contain h1{
        font-size: 35px;
        text-align: center;
        font-weight: bolder;
        color: white;
        margin-bottom: 30px;
    }
    .bar2 .skills-contain .skill-box{
        margin: 10px;
    }
    .bar2 .skills-contain .skill-box#box-4{
        margin: 10px;
    }
    .bar2 .skills-contain .skill-box#box-5{
        /* margin: 10px 10px 10px 132px; */
    }
    .skill-box .boxs h1{
        font-size: 22px;
        margin-top: 12px;
        text-align: center;
    }
    .skill-box .boxs h2{
        font-size: 15px;
        color: #0AFBF5;
        margin-top: -24px;
        text-align: center;
        /* margin-left: 80px; */
    }
    .bar3 .about-contain{
        width: 510px;
        height: 1117px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .about-contain .myinfo-box{
        margin-top: 20px;
        margin-left: 5px;
    }
    .bar3 .education{
        width: 465px;
        height: 400px;
        margin-bottom: 15px;
    }
    .education .ebox2{
        margin-top: -15px;
    }
    .bar4 .project{
        width: 500px;
        height: auto;
    }
    .bar4 .project .tesla{
        margin: 0 25px;
        margin-top: 15px;
    }
    .bar4 .project .lgc{
        margin: 0 25px;
        margin-top: 15px;
    }
    .bar4 .project .tesla.thefirst{
        margin-top: 80px;
    }
    .bar4 .project .lgc.thefirst{
        margin-top: 15px;
    }
}
/*Medium devices (tables, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .bar-1 .logo-box{
        width: 60%;
    }
    .bar-1 .menu-box{
        width: 40%;
    }
    .bar-1 .menu-box ul{
        display: none;
    }
    .bar-1 h1{
        margin-left: 50px;
    }
    .bar-1 .menu-icon{
        display: block;
    }
    .bar1 .info-box{
        width: 800px;
    }
    .bar1 .info-box .information{
        width: 500px;
        margin: auto;
    }
    .bar1 .info-box .my-img{
        display: none;
    }
    .bar1 .info-box .information h1{
        width: 300px;
        font-size: 18px;
    }
    .info-box .information h2{
        font-size: 18px;
        width: 55px;
    }
    .info-box .information h3{
        font-size: 85px;
    }
    .info-box .information h4{
        width: 200px;
    }
    .info-box .information h5{
        width: 430px;
    }
    .info-box .information .get-started{
        width: 220px;
        margin-left: 20px
    }
    .info-box .information .download{
        width: 220px;
        margin-left: 20px;
    }
    .bar2 .skills-contain{
        width: 484px;
        height: auto;
        margin: auto;
        margin-top: 35px;
        transition: 0.5s;
    }
    .bar2 .skills-contain h1{
        font-size: 35px;
        text-align: center;
        font-weight: bolder;
        color: white;
        margin-bottom: 30px;
    }
    .bar2 .skills-contain .skill-box{
        margin: 10px;
    }
    .bar2 .skills-contain .skill-box#box-4{
        margin: 10px;
    }
    .bar2 .skills-contain .skill-box#box-5{
        /* margin: 10px 10px 10px 132px; */
    }
    .skill-box .boxs h1{
        font-size: 22px;
        margin-top: 12px;
        text-align: center;
    }
    .skill-box .boxs h2{
        font-size: 15px;
        color: #0AFBF5;
        margin-top: -24px;
        text-align: center;
        /* margin-left: 80px; */
    }
    .bar3 .about-me{
        width: 150px;
        height: 35px;
        border-bottom: 2px solid white;
    }
    .bar3 .about-me h1{
        font-size: 30px;
    }
    .bar3 .about-contain{
        width: 510px;
        height: 1115px;
        margin-top: 30px;
        margin-bottom: 12px;
    }
    .about-contain .myinfo-box{
        margin-top: 20px;
        margin-left: 5px;
    }
    .bar3 .education{
        width: 465px;
        height: 400px;
        margin-bottom: 5px;
    }
    .education .ebox2{
        margin-top: -15px;
    }
    .bar4 .project{
        width: 500px;
        height: auto;
    }
    .bar4 .project .tesla{
        margin: 0 25px;
        margin-top: 15px;
    }
    .bar4 .project .lgc{
        margin: 0 25px;
        margin-top: 15px;
    }
        .bar4 .project .tesla.thefirst{
        margin-top: 80px;
    }
    .bar4 .project .lgc.thefirst{
        margin-top: 15px;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .bar-1 .logo-box{
        width: 60%;
    }
    .bar-1 .menu-box{
        width: 40%;
    }
    .bar-1 .menu-box ul{
        display: none;
    }
    .bar-1 h1{
        margin-left: 20px;
        font-size: 25px;
    }
    .bar-1 .menu-icon{
        display: block;
        margin-right: 20px;
    }
    .bar1 .info-box{
        width: 500px;
    }
    .bar1 .info-box .information{
        width: 400px;
        margin: auto;
    }
    .bar1 .info-box .my-img{
        display: none;
    }
    .bar1 .info-box .information h1{
        width: 260px;
        line-height: 36px;
        font-size: 14px;
        font-weight: bolder;
    }
    .bar1 .info-box .information h1 i{
        font-size: 14px;
    }
    .info-box .information h2{
        font-size: 16px;
        width: 50px;
        margin-top: 15px;
        margin-left: 30px;
    }
    .info-box .information h3{
        font-size: 67px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .info-box .information h4{
        width: 200px;
        font-size: 13px;
    }
    .info-box .information h5{
        width: 350px;
        font-size: 16px;
        margin-left: 30px;
    }
    .info-box .information .get-started{
        width: 100%;
        height: 45px;
        line-height: 45px;
        font-size: 14px;
        margin-left: 0;
    }
    .info-box .information .download{
        width: 100%;
        height: 45px;
        line-height: 39px;
        font-size: 14px;
        margin-left: 0;
    }
    .bar2 .skills-contain{
        width: 242px;
        height: auto;
    }
    .bar2 .skills{
        width: 86px;
        height: 36px;
        /* border-bottom: 2px solid white; */
        margin-bottom: -10px;
    }
    .bar2 .skills-contain .skill-box{
        margin: 10px;
    }
    .skills h1{
        font-size: 30px;
    }
    .bar2 .skills-contain h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .bar2 .skills-contain .skill-box#box-4{
        margin: 10px;
    }
    .bar2 .skills-contain .skill-box#box-5{
        margin: 10px;
    }
    .skill-box .boxs h1{
        font-size: 22px;
        margin-top: 12px;
        text-align: center;
    }
    .skill-box .boxs h2{
        font-size: 15px;
        color: #0AFBF5;
        margin-top: -9px;
        text-align: center;
        /* margin-left: 80px; */
    }
    .bar3 .about-me{
        width: 150px;
        height: 35px;
        /* border-bottom: 2px solid white; */
    }
    .bar3 .about-me h1{
        font-size: 30px;
    }
    .bar3 .about-contain{
        width: 510px;
        height: 1115px;
        margin-top: 30px;
        margin-bottom: 12px;
    }
    .about-contain .myinfo-box{
        margin-top: 20px;
        margin-left: 5px;
    }
    .bar3 .education{
        width: 465px;
        height: 400px;
        margin-bottom: 5px;
    }
    .education .ebox2{
        margin-top: -15px;
    }
    .bar4 .project{
        width: 500px;
        height: auto;
    }
    .bar4 h1{
        font-size: 30px;
    }
    .bar4 .project .tesla{
        margin: 0 25px;
        margin-top: 15px;
    }
    .bar4 .project .lgc{
        margin: 0 25px;
        margin-top: 15px;
    }
    .bar4 .project .tesla.thefirst{
        margin-top: 70px;
    }
    .bar4 .project .lgc.thefirst{
        margin-top: 15px;
    }
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .bar1{
        padding-top: 0;
    }
    .bar-1 .logo-box{
        width: 75%;
    }
    .bar-1 .menu-box{
        width: 25%;
    }
    .bar-1 .menu-box ul{
        display: none;
    }
    .bar-1 h1{
        margin-left: 20px;
        font-size: 18px;
    }
    .bar-1 .menu-icon{
        display: block;
        margin-top: 13px;
        margin-right: 20px;
    }
    .bar1 .info-box{
        width: 300px;
        height: 500px;
        top: 53%;
    }
    .bar1 .info-box .information{
        width: 300px;
        height: 500px;
        margin: auto;
    }
    .bar1 .info-box .my-img{
        display: none;
    }
    .bar1 .info-box .information h1{
        width: 100%;
        font-size: 12px;
        line-height: 34px;
        font-weight: bolder;
    }
    .bar1 .info-box .information h1 i{
        font-size: 12px;
    }
    .info-box .information h2{
        font-size: 12px;
        width: 38px;
        margin-top: 15px;
        margin-left: 30px;
    }
    .info-box .information h3{
        font-size: 47px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .info-box .information h4{
        width: 235px;
        font-size: 10px;
    }
    .info-box .information h5{
        width: 300px;
        font-size: 12.2px;
        margin-left: 11px;
    }
    .info-box .information .get-started{
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        margin-left: 0;
    }
    .info-box .information .download{
        width: 100%;
        height: 40px;
        line-height: 34px;
        font-size: 12px;
        margin-left: 0;
    }
    .bar2 .skills-contain{
        width: 242px;
        height: 1340px;
        margin: auto;
        margin-top: 35px;
        transition: 0.5s;
    }
    .bar2 .skills{
        width: 85px;
        height: 36px;
        /* border-bottom: 2px solid white; */
        margin-bottom: -10px;
    }
    .bar2 .skills-contain .skill-box{
        margin: 5px 10px;
    }
    .skills h1{
        font-size: 30px;
    }
    .bar2 .skills-contain h1{
        font-size: 15px;
        text-align: center;
        font-weight: bolder;
        color: white;
        margin-bottom: 20px;
    }
    .bar2 .skills-contain .skill-box#box-4{
        margin: 5px 10px;
    }
    .bar2 .skills-contain .skill-box#box-5{
        margin: 5px 10px;
    }
    .skill-box .boxs h1{
        font-size: 22px;
        margin-top: 12px;
        text-align: center;
    }
    .skill-box .boxs h2{
        font-size: 15px;
        color: #0AFBF5;
        margin-top: -15px;
        text-align: center;
    }
    .bar3 .about-me{
        width: 150px;
        height: 35px;
        /* border-bottom: 2px solid white; */
    }
    .bar3 .about-me h1{
        font-size: 30px;
    }
    .bar3 .about-contain{
        width: 375px;
        height: 925px;
        margin-top: 20px;
        margin-bottom: 8px;
    }
    .about-contain .mybox-img{
        width: 365px;
        height: 450px;
    }
    .about-contain .mybox-img .boximg{
        width: 300px;
        height: 450px;
        margin-left: 30px;
    }
    .about-contain .mybox-img .boximg .imgbox{
        width: 290px;
        height: 440px;
    }
    .mybox-img .boximg .imgbox img{
        width: 460px;
        margin-left: -84px;
        margin-top: -3px;
    }
    .mybox-img .boximg .imgbox .my-age{
        width: 102px;
        height: 81px;
    }
    .mybox-img .boximg .imgbox .my-age h1{
        font-size: 40px;
        margin-top: -1px;
        margin-left: 6px;
    }
    .mybox-img .boximg .imgbox .my-age h2{
        font-size: 15px;
        margin-left: 55px;
        margin-top: -26px;
    }
    .mybox-img .boximg .imgbox .my-age h3{
        font-size: 40px;
        margin-top: -5px;
        margin-left: 27px;
    }
    .mybox-img .boximg .imgbox .anintern{
        left: -10%;
        width: 150px;
        height: 50px;
        line-height: 48px;
        font-size: 22px;
    }
    .about-contain .myinfo-box{
        width: 365px;
        height: 450px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .about-contain .myinfo-box h3{
        font-size: 17px;
        margin-left: 32px;
    }
    .about-contain .myinfo-box h4{
        width: 85%;
        font-size: 12px;
        margin-left: 24px;
    }
    .about-contain .myinfo-box .location{
        height: 160px;
    }
    .about-contain .myinfo-box .btn1{
        margin-left: 68px;
    }
    .bar3 .education{
        width: 330px;
        height: 300px;
        margin-bottom: 20px;
    }
    .education .ebox1{
        width: 330px;
        height: 150px;
        float: left;
        border-radius: 20px;
    }
    .education .ebox2{
        width: 330px;
        height: 150px;
        float: left;
        border-radius: 30px;
        margin-top: -5px;
    }
    .education h1{
        font-size: 14px;
        margin-left: 10px;
        margin-bottom: -3px;
        color: white;
        font-weight: bold;
    }
    .education h2{
        font-size: 13px;
        margin-top: 5px;
        margin-left: 10px;
        color: white;
    }
    .education h3{
        font-size: 11px;
        margin-left: 15px;
        color: rgb(138, 138, 138);
    }
    .bar4 .project{
        width: 300px;
        height: auto;
    }
    .bar4 h1{
        font-size: 25px;
    }
    .bar4 .project .tesla{
        width: 300px;
        height: 210px;
        border-radius: 15px;
        margin: 0;
        margin-top: 10px;
    }
    .bar4 .project .lgc{
        width: 300px;
        height: 210px;
        border-radius: 15px;
        margin: 0;
        margin-top: 10px;
    }
    .bar4 .project .tesla.thefirst{
        margin-top: 50px;
    }
    .bar4 .project .lgc.thefirst{
        margin-top: 10px;
    }
    .bar4 .project .tesla .tesla-img{
        width: 284px;
        height: 149px;
        margin: 7.5px;
        border-radius: 10px;
    }
    .bar4 .project .tesla h1{
        font-size: 15px;
        top: 162px;
        left: 10px;
    }
    .bar4 .project .tesla h2{
        font-size: 12px;
        top: 184px;
        left: 10px;
    }
    .bar4 .project .lgc .lgc-img{
        width: 284px;
        height: 149px;
        margin: 7.5px;
        border-radius: 10px;
    }
    .bar4 .project .lgc h1{
        font-size: 15px;
        top: 162px;
        left: 10px;
    }
    .bar4 .project .lgc h2{
        font-size: 12px;
        top: 184px;
        left: 10px;
    }
    .bar5 h1{
        font-size: 10px;
    }
    .bar4 .project .lgc .lgc-img img#ai-farm, .bar4 .project .tesla .tesla-img img#ai-farm{
        width: 50px;
        height: 50px;
        top: 5px;
        left: 5px;
    }
}